@font-face {
    font-family: samarkan;
    src: url("./fonts/samarkan.TTF");
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100%;
    margin: 0;

    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 19%, rgba(88,27,6,1) 61%, rgba(255,0,0,1) 86%) no-repeat;
    background-size: cover;
    color: aliceblue;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    text-align: center;
}

html {
    min-height: 100%;
    margin: 0;
}

.main-content {
    height: 80%;
}

.content-box:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.content-box{
    font-size:larger;
}

.content-box {
    vertical-align: middle;
    padding: 25px;
    border-radius: 25px;
    border: 2px;
    border-style: dashed;
    border-color: white;
    width: 200px;
    align-items: center;
    margin:0 auto;

    font-family: 'Times New Roman', Times, serif;
}

#TJP{
    position: relative;
    top: 0;
}

#TJP img {
    position: absolute;
    left: 0;
    padding: 5px;

    border-radius: 50%;
}


.contact-us {
    position: absolute;
    bottom: 0;

    padding: 20px;

    font-size: larger;
}

.contact-us a {
    color: white;
}

h1 {
    font-family: samarkan;
    padding-bottom: 20px;
}


p{
    display: none;
}

/* Navbar */
#o{
    display: none;
}

.wrapper{
    position: relative;
    top: 50%;
    left: 90%;
    width: 100px;
    transform: translate(-50%,-50%);
}

.navbar{
    width: 50px;
    height: 50px;
    position: absolute;
    /*border: 5px solid #49b293;*/
    cursor: pointer;
    transition: all 0.3s ease;

    vertical-align: top;
    margin-left: auto;
}

.navbar div{
    height: 8px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    transition: all 0.5s ease;
}

.navbar .first{
    top: 5px;
    left: 10px;
}

.navbar .second{
    top: 15px;
    left: 10px;
}

.navbar .third{
    top: 25px;
    left: 10px;
}

.navbar:hover .first {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.5s ease;
}

.navbar:hover .second {
    opacity: 0;
    transition: all 0.2s ease;
}

.navbar:hover .third{
    transform: translateY(-10px) rotate(-45deg);
    transition: all 0.5s ease;
}

.navbar:hover{
    border-radius:50%;
    transition: all 0.3s ease;  
}